
.about-me {
     max-width: 1214px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
.text-photo-box{
     max-width: 100%;
     display: flex;
     margin-bottom: 80px;
   }
.text-box {
     display: flex;
     flex-direction: column;
     margin: 0 115px 0 0;
     flex: 0 1 500px;
   }
.photo-in {
    width: 586px;
    height: 405px;
    position: relative;
    background: url(../img/blotphoto.png) 0 10px/506px 408px no-repeat;
   }
.photo-with-in{
     display: block;
     position: relative;
     top: 20px;
     left: 56px;
   }
.icon-about{
  position: absolute;
  right: 28px;
  bottom: 90px;
  }
.photo-in .icon-about:hover svg * {
    fill: #8ABD63;
    cursor: pointer;
}
.photo-in .icon-about svg *{
    fill: #333D3F;
}
  .icon-about::after {
    content: 'LinkedIn';
    position: absolute;
    right: 73px;
    bottom: 95px;
    }
.facts-box{
     width: 100%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
   }
.fact-cards{
     height: 170px;
     width: 328px;
     display: flex;
     align-items: center;
     background: url(../img/brush-effect-yellow.png) 0 0/142px 170px no-repeat;
     position: relative;
     padding-left: 90px;
     margin-right: 1%;
   }