.text-photo-box{
  margin-bottom: 80px;
}
.icon-about{
  position: absolute;
  right: 24px;
  bottom: 31px;
  display: flex;
  align-items: center;
}
.icon-about svg {
  margin: 0 5px 0 0;
}
.icon-about svg *{
 fill: #333D3F;
}
.icon-about:hover svg * {
 fill: #8ABD63;
 cursor: pointer;
}
.facts-box{
  flex-wrap: wrap;
}
.fact-cards{
  min-height: 170px;
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  background: url(../img/brush-effect-yellow.png) 0 0/142px 170px no-repeat;
  position: relative;
  padding-left: 90px;
}
@media (max-width: 991px) {
  .text-photo-box {
    margin-bottom: 40px;
  }
  .text-box,
  .path-main-text {
    margin: 0 auto 40px;
  }
}
@media (max-width: 1270px) {
  .icon-about {
    right: 0px;
  }
}

@media (max-width: 1070px) {
  .icon-about {
    right: 0px;
    bottom: 60px;
  }
}
@media (max-width: 991px) {
  .icon-about {
  right: 154px;
  }
}
@media (max-width: 940px) {
  .icon-about {
    right: 154px;
    bottom: 75%;
  }
}
@media (max-width: 760px) {
  .icon-about {
    right: 10%;
  }
}
@media (max-width: 425px) {
  .icon-about {
    right: 0;
    bottom: 70%;
  }
}
@media (max-width: 375px) {
  .icon-about {
    right: -50px;
  }
}