.container {
    max-width: 1254px;
    margin: 0 auto 120px;
    padding: 0 20px;
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 900px) {
    .flex {
        display: block;
    }
}