  .img-holder {
      flex: 0 0 40%;
      position: relative;
      align-self: flex-end;
  }
  .img-holder.img-center {
    align-self: center;
  }
  .img-resp {
      display: block;
      width: 100%;
      height: auto;
  }

  .laptop-photo{
    align-items: center;
    display: block;
    position: relative;
    flex: 0 0 40%;
    width: 40%;
    height: auto;
  }
  .cofee-case {
    width: 49.42%;
    height: 98.81%;
    background: url(../img/blot_yellow_green.png) 0 1%/100% 100% no-repeat;
    align-self: center;
    }
  .cofee-photo {
    display: block;
    position: relative;
    width: 45%;
    height: 38%;
    top: 31.6%;
    left: 28.5%;
  }
  .down-illustr-case {
    height: 100%;
    max-width: 50%;
    background: url(../img/blot_down.png) -1.10% -1.32/65.07% 98.90% no-repeat;
    }
    .down-illustr-case {
    height: 100%;
    max-width: 100%;
    background: url(../img/blot_down.png) 0 0/65.07% 98.90% no-repeat;
  } 
  .down-photo {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
}