  .img-holder {
      flex: 0 0 40%;
      position: relative;
      align-self: flex-end;
      margin: 0 50px;
  }
  .img-holder.img-center {
    align-self: center;
  }
  .img-resp {
      display: block;
      width: 100%;
      height: auto;
  }
@media (max-width: 991px) {
  .img-resp {
      width: 70%;
      margin: 0 auto 20px;
    }
}