*,
*:before,
*:after {
    box-sizing: border-box;
}

html, textarea, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Start writing the page */

body {
    font-family: 'Roboto Slab', serif;
    color: #333D3F;
}

.container {
    max-width: 1214px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Heading */

.tariffs__sub-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.tariffs__heading {
    margin-top: 10px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 120%;
    text-transform: uppercase;
}

/* Cards group */

.tariffs__card {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

/* Cards item */

.card-item {
    max-width: 380px;
    min-height: 840px;
    width: 100%;
    border: 3px solid red;
    border-radius: 60px;
    overflow: hidden;
}

/* Cards heading */

.card-top {
    min-height: 220px;
}

.card-name {
    padding-top: 60px;
    text-align: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
}

.card-price {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-side {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
}

.price-main {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
}

.sub-price {
    margin-top: 15px;
    text-align: center;
}

.first-card {
    background-image: url('../img/1card.png');
}

.second-card {
    background-image: url('../img/2card.png');
}

.third-card {
    background-image: url('../img/3card.png');
}

/* Cards main part */

.card-main {
    margin: 40px 35px 30px;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-list > ::marker {
    content:url('../img/icon-list.svg')
}

.card-list > li {
    padding-left: 18px;
    margin: 16px 0;
}

.decline-item ::marker {
    content:url('../img/icon-list-decline.svg')
}

.decline-item > li {
    padding-left: 18px;
    margin: 16px 0;
}

.inside-list ::marker {
    content:'– ';
}

.inside-list  {
    padding-left: 15px;
    margin-top: 10px;
}

.card-daystart {
    margin-bottom: 8px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

.card-daystart > span {
    font-weight: 700;
    padding-left: 8px;
}


/* Cards button */

.button {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 16px;
    color: #333D3F;
    line-height: 140%;
    position: relative;
    padding: 19px 38px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
  }

  .prime-btn {
    background: linear-gradient(95.6deg, #FFE7D9 12.37%, #FFEBB7 35.9%, #EDF493 65.82%, #D2FFAF 88.95%);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px; 
    border: 3px solid transparent;
    background: linear-gradient(95.6deg, #FFE7D9 12.37%, #FFEBB7 35.9%, #EDF493 65.82%, #D2FFAF 88.95%) border-box;
    -webkit-mask:
      linear-gradient(#fff 0 0) padding-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  .button:after {
    content: ">";
    margin-left: 5px;
  }

  .prime-btn:hover {
    background: transparent;
  }